<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Gray Code Generator</title>
    <style>
      * { box-sizing: border-box; }

      /* Create two unequal columns that floats next to each other */
      .column { float: left; padding: 8px; }

      .left { width: 10%; }

      .right { width: 90%; }

      /* Clear floats after the columns */
      .row : after { content: ""; display: table; clear: both; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
	/**
	 * GrayCodeModel object acts as a container for data, and generic logic.
	 * An instance is created by the controller.
	 */
	function GrayCodeModel(firstNum, range, width, height, rowSpacing)
	{
	    this.bits = Math.ceil(Math.log(firstNum + range) / Math.log(2));
	    this.firstNum = firstNum;
	    this.range = range;
	    this.width = width;
	    this.height = height;
	    this.rowSpacing = rowSpacing;

	    /**
	     * Converts a natural binary 32 bit value to Gray code.
	     * @param (number) natural The natural binary value to convert.
	     * @return The Gray code equivalent value.
	     */
	    this.encodeGray = function(natural) {
		return natural ^ (natural >>> 1);
	    }

	    this.getColumnThickness = function() {
		return (this.getColumnWidth() - this.rowSpacing);
	    };

	    this.getColumnWidth = function() {
		return this.width / this.bits ;
	    };

	    this.getRowHeight = function() {
		return (this.getColumnWidth() - this.rowSpacing);
	    };
	}

	/**
	 * GrayCodeView object acts as a container for the drawing functions
	 * and variables.
	 * @param (object) canvas the canvas to draw onto.
	 * @param (object) model the container of the drawing properties.
	 */
	function GrayCodeView(canvas, model)
	{
	    this.canvas = canvas;
	    this.model = model;
	    this.ctx = canvas.getContext("2d");
	    this.originX = canvas.width;
	    this.originY = canvas.height;

	    /**
	     * Converts a standard mathematical point to a canvas coordinate.
	     * @param x the horizontal distance from the origin.
	     * @param y the vertical distance from the origin.
	     * @return The point adjusted for the canvas coordinates.
	     */
	    this.screenToCanvas = function(x, y) {
		var obj = {
		    x : this.originX - x,
		    y : this.originY - y
		}
		return obj;
	    };

	    /**
	     * Resets the canas dimensions to match image size
	     * @param width the desired canvas tag width.
	     * @param height the desired canvas tag width.
	     */
	    this.resizeCanvas = function(width, height) {
		this.canvas.width = width;
		this.canvas.height = height;
		this.originX = canvas.width;
		this.originY = canvas.height;
	    };

	    /**
	     * Draws the linear gray code in rows one cell high with the number of columns
	     * equal to the number of bits in the gray code.
	     */
	    this.draw = function() {
		this.model.bits = Math.ceil(Math.log(this.model.firstNum + this.model.range) / Math.log(2));
		var thickness = model.getColumnThickness();
		var cellWidth = model.getColumnWidth();
		var cellHeight = model.height / model.range;

		this.resizeCanvas(model.width + cellWidth, model.height + cellHeight);
		this.ctx.clearRect(0, 0, this.canvas.width + cellWidth, this.canvas.height + cellHeight);

		// Draw gray code rows.
		for (var num = model.firstNum; num < (model.firstNum + model.range); num++)
		{
		    var startY = (num - model.firstNum) * cellHeight;
		    var temp = model.encodeGray(num);

		    // Draw gray code columns from right to left.
		    for (bit = 0; bit < model.bits; bit++)
		    {
			var startX = bit * cellWidth;
			// if the bit is set, draw a black cell.
			if (temp & 1)
			{
			    var point = this.screenToCanvas(startX, startY);
			    this.ctx.fillRect(point.x, point.y, cellWidth, cellHeight);
			}
			temp = temp >> 1;
		    }
		}
	    }
	}

	var app = angular.module('grayCodeApp', []);

	app.controller('grayCodeCtrl', function($scope) {
	    $scope.model = new GrayCodeModel(0, 64, 100, 100, 0);
	    $scope.view = new GrayCodeView (document.getElementById("myCanvas"), $scope.model);

	    $scope.notify = function() {
		$scope.view.draw();
	    };

	    $scope.$watch('model.firstNum', $scope.notify);
	    $scope.$watch('model.range', $scope.notify);
	    $scope.$watch('model.bits', $scope.notify);
	    $scope.$watch('model.width', $scope.notify);
	    $scope.$watch('model.height', $scope.notify);
	    $scope.$watch('model.rowSpacing', $scope.notify);
	});

	function doPrint() {
		var dataUrl = document.getElementById('myCanvas').toDataURL("image/png");
		var windowContent = '<!DOCTYPE html>';
		windowContent += '<html>'
		windowContent += '<head><title>Print canvas</title></head>';
		windowContent += '<body>'
		windowContent += '<img src="' + dataUrl + '">';
		windowContent += '</body>';
		windowContent += '</html>';

		var printWin = window.open('', '', 'width=800, height=800');
		printWin.document.open();
		printWin.document.write(windowContent);
		printWin.document.addEventListener('load', function() {
		    printWin.focus();
		    printWin.print();
		    printWin.document.close();
		    printWin.close();            
		}, true);
	};
    </script>
  </head>
  <body>
    <div ng-app="grayCodeApp" ng-controller="grayCodeCtrl">
      <div class="row">
	<div class="column left">First Number</div>
	<div class="column right">
	  <input type="range" ng-model="model.firstNum" min="0" max="256" step="16" value="0" list="firstnumtickmarks">
	  <datalist id="firstnumtickmarks">
	    <option value="0" label="0">
	    <option value="16" label="16">
	    <option value="32" label="32">
	    <option value="64" label="64">
	    <option value="96" label="96">
	    <option value="128" label="128">
	    <option value="160" label="160">
	    <option value="192" label="192">
	    <option value="224" label="224">
	    <option value="256" label="256">
	  </datalist>
	</div>
      </div>
      <div class="row">
	<div class="column left">Range</div>
	<div class="column right">
	  <input type="range" ng-model="model.range" min="0" max="256" step="16" value="0" list="rangetickmarks">
	  <datalist id="rangetickmarks">
	    <option value="0" label="0">
	    <option value="16" label="16">
	    <option value="32" label="32">
	    <option value="64" label="64">
	    <option value="96" label="96">
	    <option value="128" label="128">
	    <option value="256" label="256">
	  </datalist>
	</div>
      </div>
      <div class="row">
	<div class="column left">Width</div>
	<div class="column right">
	  <input type="range" ng-model="model.width" min="10" max="360" step="1" value="10" list="widthtickmarks">
	  <datalist id="widthtickmarks">
	    <option value="10" label="10">
	    <option value="20" label="20">
	    <option value="30" label="30">
	    <option value="40" label="40">
	    <option value="50" label="50">
	    <option value="60" label="60">
	    <option value="70" label="70">
	    <option value="80" label="80">
	    <option value="90" label="90">
	    <option value="100" label="100">
	    <option value="110" label="110">
	    <option value="120" label="120">
	    <option value="130" label="130">
	    <option value="140" label="140">
	    <option value="150" label="150">
	    <option value="160" label="160">
	    <option value="170" label="170">
	    <option value="180" label="180">
	    <option value="190" label="190">
	    <option value="200" label="200">
	    <option value="210" label="210">
	    <option value="220" label="220">
	    <option value="230" label="230">
	    <option value="240" label="240">
	    <option value="250" label="250">
	    <option value="260" label="260">
	    <option value="270" label="270">
	    <option value="280" label="280">
	    <option value="290" label="290">
	    <option value="300" label="300">
	    <option value="310" label="310">
	    <option value="320" label="320">
	    <option value="330" label="330">
	    <option value="340" label="340">
	    <option value="350" label="350">
	    <option value="360" label="360">
	  </datalist>
	</div>
      </div>
      <div class="row">
	<div class="column left">Height</div>
	<div class="column right">
	  <input type="range" ng-model="model.height" min="400" max="1500" step="1" value="400" list="heighttickmarks">
	  <datalist id="heighttickmarks">
	    <option value="400" label="400">
	    <option value="500" label="500">
	    <option value="600" label="600">
	    <option value="700" label="700">
	    <option value="800" label="800">
	    <option value="900" label="900">
	    <option value="1000" label="1000">
	    <option value="1100" label="1100">
	    <option value="1200" label="1200">
	    <option value="1300" label="130">
	    <option value="1400" label="1400">
	    <option value="1500" label="1500">
	  </datalist>
	</div>
      </div>
      <div class="row">
	<div class="column left">Row spacing</div>
	<div class="column right">
	  <input type="range" ng-model="model.rowSpacing" min="0" max="12" step="1" value="0" list="rowspacingtickmarks">
	  <datalist id="rowspacingtickmarks">
	    <option value="0" label="0">
	    <option value="1" label="1">
	    <option value="2" label="2">
	    <option value="3" label="3">
	    <option value="4" label="4">
	    <option value="5" label="5">
	    <option value="6" label="6">
	    <option value="7" label="7">
	    <option value="8" label="8">
	    <option value="9" label="9">
	    <option value="10" label="10">
	    <option value="11" label="11">
	    <option value="12" label="12">
	  </datalist>
	</div>
      </div>
      <div class="row">
	<div class="column right">
	  First number: {{model.firstNum}}, Range: {{model.range}}, Gray Code Bits: {{model.bits}}, Width: {{model.width}}, Height: {{model.height}}, Row Spacing: {{model.rowSpacing}}
	</div>
      </div>
      <div class="row">
	<canvas id="myCanvas" width="100" height="100">
	</canvas>
      </div>
      <div class="row">
	<div class="column right">
	  <button onclick="doPrint()" type="button">Print</button>
	</div>
      </div>
    </div>
  </body>
</html>
